#portfolio_header{
  background: url(images/computer2.jpg) center / cover;
  height:  60vh;
  justify-content: center;
  text-align: center;
}
h1{
  font-weight: bold;
  color: rgba(239, 111, 235, 0.9);
}
#slogan{
  font-weight: lighter;
  color: rgba(247, 155, 244, 0.8);
  font-size: 1.6rem;
}
main{
  max-width: 900px;
}
.project-descrition{
  padding-left: 0;
}
.project img{
  width: 100%;
}
#connect{
  bottom:0;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 0.5rem;
}
#footer-links{
  margin: auto;
  font-size: 2rem;
}
@media screen and (max-width: 1024px) {
  header#portfolio-header {
    display: flex;
  }
}
/*testing notes*/
